.fullWidth {
  width: 100%;
}

.submitError {
  margin-top: 8px;
  display: block;
}

.cancel {
  margin-left: 15px;
}

.uploadedImage {
  width: 243px;
  height: 287px;
  border: 1px solid #ccc;
}

.deleteImageButton {
  margin: 15px 0 30px 0;
}
